body {
  border: 5px solid #d6c2cc;
  margin: 30px;
}

header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  padding-left: 230px;
  text-shadow: 7px 7px 7px #aaa;
      }

#address {
  padding-left: 400px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  margin: 0px;
      }

main {
  font-family: 'Open Sans Condensed', sans-serif;
  border: 0px solid #222;
  padding-left: 10px;
  padding-bottom: 0px
}

h2{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  border-bottom: 2px solid #d6c2cc;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  margin: 0px;
}

h4,p {
  margin: 0px;
}

#container {
  max-width: 960px;
  margin: 0 auto;
}

#USC {
  padding-top: 25px;
}

#Degree1, #Degree2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  padding-top: 2px;
  padding-left: 20px;
}

#Details1, #Details2 {
  padding-left: 20px;
}

footer {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 18px;
padding-left: 300px
}

#References{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 18px;
padding: 22px;
}

#Talk {
  padding-left: 150px;
}

#Return {
  padding-left: 140px;
}

#headshot {
  border: 4px solid #eee;
  position: relative;
}

a {
color: #222;
}

a:active {
  color:#145b23;
}

a:visited {
  color:#aa165e;
}

a:hover {
  color:#145b23;
}

#Talk a {
  color: #222;
}

#Talk a:active {
  color: #145b23;
}

#Talk a:hover {
  color: #145b23;
}
